@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.customButton{
  background-image: linear-gradient(#ff9800, #ff9800)  ;
  border: none !important;
  color: black !important;
  border-radius: 0 !important;
  height: 5vh;
}

.customButton:hover{
  background-image: linear-gradient(#ef6c00) !important;
  cursor: pointer;
 
}
.cardView{
  height: 42vh;
}
.customCard{
   margin: 15px;
   height: 30vh;
    top: 10vh;
}

.cardView:hover{
  box-shadow: 2px 2px 15px black;
}

